
.app-container {
  width: 600px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: #333;
}

.error-message {
  color: #dc3545;
  text-align: center;
  font-weight: bold;
}

/* form */
.form {
  display: flex;
  margin-bottom: 20px;
}

.form input{
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.form .button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.form .button:hover {
  background-color: #0056b3;
}

/* list */
.list {
  list-style-type: none;
  padding: 0;
}

/* item */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #f9f9f9;
  border-bottom: 1px solid #eee;
}



.item span {
  flex-grow: 1;
  font-size: 18px;
}


.item.completed span {
  text-decoration: line-through;
  color: #908b8b;
}


.item div {
  display: flex;
  gap: 8px;
}


.item .delete-button {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}


.item .toggle-button {
  background-color: #28a745;
  color: #333;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 120px; 
  font-weight: bold;
}


.item .toggle-button.completed {
  color: white;
}


.item .delete-button:hover {
  background-color: #c81a2b;
}